table, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  text-align: left;
  height: 100px;
  width: 100px;
}

td.x {
  background-image: url("x.png");
  background-repeat: no-repeat;
  background-position: center;
}

td.o {
  background-image: url("o.png");
  background-repeat: no-repeat;
  background-position: center;
}